<?xml version="1.0"?>
<!--
/**
 * Core UI and SEO enhancements to improve Magento performance.
 *
 * @package   Iods_Performance
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright © 2021, Rye Miller (https://ryemiller.io)
 * @license   MIT (https://en.wikipedia.org/wiki/MIT_License)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <module name="Iods_Performance" setup_version="0.0.1">

        <sequence>
            <module name="Klaviyo_Reclaim"/>
            <module name="StripeIntegration_Payments"/>
            <module name="Algolia_AlgoliaSearch"/>
            <module name="VintageKing_CatalogWidget"/>
            <module name="Amasty_ShopbyBase"/>
            <module name="MagePal_GoogleTagManager"/>
            <module name="Olark_Chatbox"/>
            <module name="Astound_Affirm"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Theme"/>
        </sequence>
    </module>
</config>
